.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    border-radius: .6rem;
    position: relative;
    padding: 0;
}

.cart:hover {
    scale: 105%;
}

.cart-icon {
    height: 25px;
    width: 25px;
    fill: var(--color-dark-grayish-blue);
}

.cartcount-icon {
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    background-color: lightcoral;
    padding: 3px;

    border-radius: 10px;

    left: 50%;
    top: -20%;

    height: 13px;

    color: white; 
    background-color: var(--color-orange);
}