.product-item-container {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.products-container {
    z-index: 1;
}

.product-item {
    padding: 10px;
    /* outline: dashed 1px blue;/ */
    flex: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, autos);
    text-align: left;
}

.product-item-container:hover {
    box-shadow: 0 -1px 0 var(--color-orange) inset;
}

.product-item-title {
    grid-row: 1;
}

.product-item-description {
    grid-row: 2;
}

.product-item-price {
    grid-row: 3;
}

.product-item-count {
    grid-row: 1 / span 2;
    width: 30px;
}

.product-item-add-to-cart-button {
    grid-column: 1 / span 1;

    word-wrap:break-word;
    padding: 20px;
    margin-left: 10px;

    color: white;
    border: none;
    height: fit-content;
    border-radius: 15px;
    background-color: var(--color-orange);
}

.product-item-add-to-cart-button:hover {
    transform: scale(102%);
}