.nav-list {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: left;
    
    gap: 1rem;
    font-size: 10pt;
    color: var(--color-dark-grayish-blue);
}

.nav-item:hover {
    scale: 102%;
    transition: all 0.1s;
}