.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    background-color: white;

    border-radius: 1.3rem;
    position: relative;
}

.cart-icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: black;
}

.cartcount-icon {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    color: black;
    background-color: lightcoral;
    padding: 3px;

    border-radius: 10px;
    width: 15px;
    height: 15px;

    left: -20%;
    top: 60%;
}

