.header {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    background-color: black;
    color: white;

    align-items: center;
}

.header>.app-title {
    justify-self: center;
    grid-column: 2;

    font-size: 22px;
    font-weight: 700;
}

.header>.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;

    grid-column: 3;
    padding: 1rem;

    padding-right: 2rem;
}

.nav-item:hover {
    scale: 115%;
    transition: all 0.1s;
}